body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    
    background-color: #ffffff;
    
/*  для сетки  */
    background-color: #71de75;
}

.main-header {
    margin: 0;
    padding: 0;
    
    /*  для сетки  */
    min-height: 55px;
    outline: 3px solid blue;
}

.main-header-logo {
    position: absolute;
    left: 640px;
}

.main-navigation {
    margin: 0;
    padding: 0;
    line-height: 26px;
    color: #000000; 
        
    background-color: #ffffff;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    background-color: #ffffff;
    
    /*  для сетки  */
    outline: 3px solid #515591;
}

.main-navigation li {
    background-color: #ffffff;
    
    /*  для сетки  */
    outline: 2px solid blue;
}

.main-navigation li:first-child,
.main-navigation li:nth-child(2) {
    
}


.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
    
}

.main-navigation a {
    color: #000000;
    font-weight: bold;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #b2b2b2;
}

.main-navigation a.active {
    color: #766357;
}

.main-title {
    margin-top: 60px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.features {
    margin-bottom: 60px;
}

.features h2 {
    margin-bottom: 60px;
    
    
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-align: center;
}

.features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.features-item {
    width: 280px;
    padding: 60px;
    padding-top: 50px;
    
    text-align: center;
    color: #000000;
    
    background-color: #eeeeee;
}

.features-item h3 {
    font-size: 21px;
}

.features-item-blue {
    padding: 0;
    width: 100%;
    display: flex;
    
    color: #ffffff;
    
    background-color: #81b3d2;
}

.features-text{
    width: 280px;
    padding: 65px;
    padding-top: 45px;
    padding-bottom: 55px;
}

.features-picture-1 {
    padding: 0;
    width: 800px;
    background-image: url(../img/place-1.jpg);
    background-repeat: no-repeat;
}

.features-picture-2 {
    padding: 0;
    width: 800px;
    background-image: url(../img/place-2.jpg);
    background-repeat: no-repeat;
}



.advice {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    color: #000000;
    font-size: inherit;
    
    background-color: #ffffff;
}

.advice-item {
    text-align: center;
    padding: 65px;
    padding-top: 165px;
    padding-bottom: 90px;
    
}

.advice-title {
    font-size: 21px;
}

.search {
    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;    
    background-color: #ffffff;
}

.search .text-secondary {
    font-size: 30px;
    line-height: 36px;
}

.btn {
    font: inherit;
    font-weight: bold;
    
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    
    background-color: #000000;
    border: none;
}

.open-close-btn {
    margin: 0;
    margin-top: 55px;
    width: 575px;
    padding: 35px 140px;
}

.open-close-btn,
.booking-btn {
    background-color: #766357;
}

.open-close-btn:hover,
.open-close-btn:focus,
.booking-btn:hover ,
.booking-btn:focus {
    background-color: #604e43;
}

.open-close-btn:active,
.booking-btn:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.5);
}

.search-btn,
.details-btn,
.social-btn {
    background-color: #81b3d2;
}

.search-btn:hover,
.search-btn:focus,
.details-btn:hover,
.details-btn:focus, 
.social-btn:hover,
.social-btn:focus {
    background-color: #669ec0;
}

.search-btn:active,
.details-btn:active,
.social-btn:active {
    color: rgba(255, 255, 255, 0.5);
    
    background-color: #5496bd;
}

.btn-less,
.btn-more {
    color: #a9a9a9;
    background-color: #f2f2f2;
}

.search-form {
    margin: 0 auto;
    padding: 55px;
    width: 465px;
    
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    
/*  для сетки  */
    outline: 1px solid blue;
}


.search-item input {
    font: inherit;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
    border: none;
}

.search-item input:hover {
    background-color: #ebebeb;
}

.search-item input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
}

.search img {
   margin: 0;
   padding: 0;
    
   outline: 2px solid blue;
}

.filter {
   padding: 30px 70px;
    
   background-image: url(../img/filter-background.jpg);
   background-repeat: no-repeat;
}

.filter form{
   display: flex;
}

.filter h2 {
   color: #ffffff;
}

.filter fieldset {
   border: none;
}

.filter legend {
   font-size: 16px;
   line-height: 21px;
   font-weight: bold;
   color: #ffffff;
}

.filter ul {
   margin: 0;
   padding: 0;
    
   list-style: none;
}

.filter-input + label {
   color: #ffffff;
}

.filter-price + label {
   color: #ffffff;
}

.filter-price {
   color: #ffffff;
    
   background: transparent;
   border: 2px solid #ffffff;
}

.filter .btn {
   font-weight: normal;
    
   background: transparent;
   border: 2px solid #ffffff;
}

.filter .btn:hover {
   color: #000000;
    
   background-color: #ffffff;
}

.sorting {
   padding: 30px 70px;
   font-size: 12px;
   line-height: 18px;
    
   background-color: : #ffffff;
}

.sorting b {
   font-size: 21px;
   line-height: 26px;
}

.sorting ul {
   padding: 0;
   margin: 0;
    
   list-style: none;
}

.sorting .active {
   color: #81b3d2;
}

.sorting a {
   color: #cacaca;
   text-decoration-line: underline;
   text-decoration-style: dotted;
   text-decoration-color: #81b3d2;
}

.sorting a:hover {
   color: #81b3d2;
   text-decoration-line: underline;
   text-decoration-style: dotted;
   text-decoration-color: #81b3d2;
}

.sorting a:active{
   color: #000000;
   text-decoration: none;
}

.results-list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.results-item {
   padding: 30px 70px;
   border: 1px solid #e5e5e5;
    
   background-color: #ffffff;
}

.results-item h3 a {
   font-size: 21px;
   line-height: 26px;
   font-weight: bold;
   color: #000000;
}

.results-item h3 a:hover,
.results-item h3 a:focus {
   color: #81b3d2;
}

.results-item h3 a:active {
   color: #b2b2b2;
}

.main-footer {
   margin: 0;
   padding: 0;
   padding: 35px;
   padding-left: 130px;
   padding-right: 100px;
   display: flex;
    
   background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
   margin: 0;
   margin-right: 250px;
}



.footer-copyright {
   width: 200px;
   margin: 0;
   margin-left: auto;
}

.footer-social {
   text-align: center;
}

.footer-social a {
   color: #ffffff;
}